/* Estilos Globales */
body {
  overflow-x: hidden;
  background-color: #d7d0d3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  padding: 0;
}

/* Estilo de la sección de inicio */
#inicio {
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

/* Estilos del menú */
.menu {
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

a {
  color: rgb(172, 79, 79);
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    color: #e181a9;
}
/* Estilo para el contenedor del header */
header .contenedor img {
  width: 80%;
  margin-bottom: 1px;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: #f5f5f5;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

.contenedor .boton {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  bottom: 50px;
  left: 34%;
  transform: translateX(-50%); 
  z-index: 2;
  border-color: #f1f1f1;
  color: #e382a9;
}
/* Estilos para los botones */
.comprar-btn, .ver-descripcion-btn {
  background-color: #e181a9; /* Color de fondo predeterminado */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Efectos de transición */
  margin-top: 10px; /* Espacio entre los botones */
}

/* Efecto hover para el botón de comprar */
.comprar-btn:hover {
  background-color: #c66b8b; /* Color de fondo al pasar el ratón */
  transform: scale(1.05); /* Agrandar ligeramente el botón */
}

/* Efecto hover para el botón de ver descripción */
.ver-descripcion-btn:hover {
  background-color: #95d1d1; /* Color de fondo para el botón de descripción */
  transform: scale(1.05); /* Efecto de agrandado */
}

/* Estilos adicionales si deseas hacer que los botones se vean diferentes */
.comprar-btn {
  background-color: #e181a9;
}

.ver-descripcion-btn {
  background-color: #95d1d1; /* Un color diferente para distinguirlos */
}


/* Estilo de la imagen del contenedor */
.contenedor img {
  width: 100%;
  margin-top: 50px;
  border: hsl(0, 13%, 95%) solid;
  position: relative;
}

/* Estilos de Footer */

footer {
  background: #16161600;
  color: #452205;
  padding: 20px;
  font-weight: 700;
  margin-top: 45px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center;
  align-items: center;
}

footer .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  background: #d7d0d3;
}

footer .copy {
  font-size: 14px;
  font-family: 'Playfair';
  margin: 0 34px 15px 36px;
  padding: 62px;
  padding-bottom: 92px;
}

footer .redes li {
  display: inline-block;
  margin: 0 10px;
}

footer .redes i {
  font-size: 27px;
}

/* Estilos de Productos */
#productos {
  background-color: #f5f5f5;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

#productos h2 {
  font-size: 34px;
  text-align: left;
  color: #e181a9;
}

.producto img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Estilos para cada producto */
.producto {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 10px #FFEB3B;
}


.producto img {
  width: 100%;
  height: auto;
}

.producto h4 {
  font-size: 1.2em;
  margin-top: 10px;
  color: red;
}

.producto p {
  font-size: 1em;
  margin-bottom: 10px;
  color: red;
}

/* Estilos de Reseñas */
.contenedor-reseñas {
  display: grid;
  padding: 94px 0;
  background: linear-gradient(90deg, rgba(204, 204, 204, 0.75) 47%, rgba(159, 206, 215, 1) 79%, rgba(142, 211, 204, 1) 100%);
}

#reseñas {
  text-align: center;
  color: #080707;
  font-size: 24px;
}


.reseña {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Playfair';
}

.contenedor-reseñas {
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes {
  margin-bottom: 45px;
}
/* Estilos generales del formulario */
.contacto {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
}

/* Estilos de la grilla del formulario */
form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical; 
}

input[type="checkbox"] {
  margin-right: 10px;
}


label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

input[type="submit"] {
  grid-column: span 2; 
  background-color: #e382a9;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #c5738d;
}
/* Estilos para el carrito */

#carrito {
  padding: 50px 20px;
  text-align: center;
  background-color: #f5f5f5;
}

#carrito h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e181a9; 
}

.contenedor-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.imagen-carrito {
    max-width: 31%;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#carrito-list {
  list-style-type: none;
  padding: 0;
}

#carrito-list li {
  font-size: 18px;
  margin-bottom: 10px;
  color: red;
}

#total {
  font-size: 20px;
  font-weight: bold;
}
/* SCROLL */
html {
  scroll-behavior: smooth;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .logo {
    width: 104%;
  }

  body {
    background-size: contain; 
    padding: 20px; 
  }

  .contenedor .boton {
    font-size: 18px;
    bottom: -104px;
    left: 49%;
  }

  /* Estilos del contenedor de la cabecera */
  .contenedor {
    padding: 40px 20px; 
    text-align: center; 
  }

  .contenedor img {
    width: 101%; 
  }

  /* Menú de navegación */
  nav ul {
    flex-direction: row; 
  }

  nav ul li {
    margin: 0 15px; 
  }

  /* Productos */
  .contenedor-productos {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 15px; 
    
  }
.ver-descripcion-btn:hover {
    background-color: #95d1d1;
    transform: scale(1.05);
}
  .producto img {
    width: 100%; 
    max-width: 250px; 
  }

  #productos h2 {
    font-size: 23px; 
    padding-left: 22px;
  }
  

  /* Reseñas */
  .contenedor-reseñas {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  .contenedor-reseña {
    margin-bottom: 30px; 
  }

  /* Footer */
  footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    background-color: #cecdcd;
  } 
  }

  footer .contenedor {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 100%; 
    padding: 10px 0;
  }

  footer .copy {
    font-size: 14px; 
    margin: 0; 
  }

  footer .redes {
    display: flex;
    gap: 15px;
    justify-content: center; 
    align-items: center;
  }

  footer .redes li {
    list-style-type: none; 
  }

  footer .redes i {
    font-size: 24px; 
  }


  .redes ul {
    padding-left: 11px;
  }


/* Estilos de la grilla del formulario */
form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical; 
}

input[type="checkbox"] {
  margin-right: 10px;
}


label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

input[type="submit"] {
  grid-column: span 2; 
  background-color: #e382a9;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #c5738d;
}



 
  form {
    grid-template-columns: 1fr; 
  }

  input[type="submit"] {
    grid-column: span 1; 
  }

 
  label {
    font-size: 12px; 
  }

  input[type="text"], input[type="email"], textarea {
    font-size: 14px; 
  }

  
  input[type="text"], input[type="email"], textarea {
    padding: 8px;
  }

 
  .form-group {
    margin-bottom: 10px;
  }


  #carrito {
      padding: 0px 0px;
  }

  #carrito h2 {
      font-size: 20px;
  }

  .imagen-carrito {
      width: 88%;  /* Ajusta el tamaño de la imagen en pantallas pequeñas */
  }

  #carrito-list li {
      font-size: 16px;
  }
  strong {
    font-weight: bold;
    color: #e181a9;
}

  #total {
      font-size: 18px;
  }
  html {
    scroll-behavior: smooth;
  }



 
